:root {

  --color-primary: #0f172a;
  --color-accent: #1e293b;
  --color-light: #f5f7fa;
  --color-border: #e2e8f0;

  --text-main: #1e293b;
  --text-muted: #64748b;

  --container-width: 1100px;

  --font-main: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

}
