.container {
  max-width: 1200px;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  margin-left: auto;
  margin-right: auto;
}

.site-header,
.site-footer {
  border-bottom: 1px solid #eaeaea;
}

.site-footer {
  border-top: 1px solid #eaeaea;
  border-bottom: none;
}

.site-main {
  padding: var(--space-l) 0;
}
